.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  position: relative;
}
.input {
  flex: 1 0 0;
  margin: 0 5px;
}
.link {
  font-size: 14px;
  border: none;
  color: blue;
  text-decoration: none;
  margin: 0 5px;
}